<!-- Banner -->

<div class="banner">

  <div class="video-container">
    <img src="../../assets/images/oncologia.jpg" alt="img" class="video-background" style="filter: brightness(0.5);">
  </div>

  <div class="text-container">
    <div class="text-content">
      <div class="text-items px-5 py-2">
        <br>
        <h1 class="animate__animated animate__fadeIn animate__slow py-3">
          <img src="../../assets/images/MediIA-removebg-preview.png" alt="logo"
          class="animate__animated animate__fadeIn animate__slow"
          style="background-color:rgba(255,255,255,0.9); border-radius: 10px; max-width: 90vw;">
        </h1>
        <h2 class="animate__animated animate__fadeInDown animate__slow animate__delay-1s h2-banner	px-5">Oncología</h2>
      </div>
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1704218467">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

</div>

<!-- main -->

<main class="content align-items-center" role="main">

  <!-- Presentation -->

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center;">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Oncología con Contraste</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://deephealth.com/erad/">DeepHealth</a> 
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://enlitic.com/solutions/">Enlitic</a> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.ibm.com/mysupport/s/topic/0TO500000002PWlGAM/watson-for-oncology?language=es">IBM Watson for Oncology</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.tempus.com/oncology/">Tempus</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://imagene-ai.com/">ImageneAI</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center;">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Oncología sin Contraste</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://quibim.com/products/qp-brain/">Quibim</a> 
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://info.paige.ai/prostate">Paige Prostate</a> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://zebramedical.com/our-products/oncology/">Zebra</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.radlogics.com/pvmed-and-radlogics-strategic-partnership/">RADLogics</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.quantib.com/solutions/partnerships/quantib-brain">Quanib NB</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container mt-5" data-aos="fade-right" data-aos-duration="1000" style="overflow: hidden;">
    <div class="row">
      <div class="col-md-6 px-5 py-3" style="background-color: rgba(10, 17, 40, 0.9); color: #ffffff;">
        <h3 style="text-align: center; color:white"><strong>Educación</strong></h3>
        <hr>
        <p class="px-3 py-3">La educación en inteligencia artificial (IA) para oncología es esencial para que los profesionales de la salud utilicen
        herramientas avanzadas en la detección y tratamiento del cáncer. Esto incluye comprender los fundamentos de la IA, su
        aplicación en la interpretación de imágenes médicas y el análisis genómico, así como consideraciones éticas y la
        necesidad de actualización continua. Los programas educativos se centran en mejorar la precisión diagnóstica y los
        resultados para los pacientes con cáncer, facilitando colaboraciones interdisciplinarias entre instituciones médicas y
        centros de investigación.</p>
      </div>
      <div class="col-md-6 px-5 py-3">
        <h3 style="text-align: center;"><strong>Enlaces a educación</strong></h3>
        <hr>

        <div style="text-align: left; justify-content: center;">
          <br><br>
          <ul>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',1)"><a>
                  Introducción al diagnóstico clínico con IA
                </a></h3>
            </li>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',2)"><a>
                  Uso de herramientas computacionales para el diagnóstico
                </a></h3>
            </li>
            <li>
              <h3 class="project blue-txt" style="font-size: 120%;" (click)="navigateTo('/educacion',4)"><a>
                  más...
                </a></h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>


<footer-component />