<footer class="dark" data-bs-theme="dark">

  <div class="container-fluid p-4">
    <div class="row mb-4 text-center">
      <div class="col">
        <h2 class="display-10"> <em class="fa-brands fa-connectdevelop"></em> Thanks for visiting, let´s talk!</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-evenly text-center">
      <div class="col-md-4 col-sm-10">
        <h4>  Contact</h4>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link mb-3" aria-current="page" href="mailto:correo.jcmv@gmail.com"><em class="fa-solid fa-envelope"></em> correo.jcmv@gmail.com </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-10">
        <h4> Connect</h4>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link mb-3" aria-current="page" href="https://www.linkedin.com/in/juan-camilo-mercado-bb4b2923a/" target="_blank"><em class="fa-brands fa-linkedin"></em> LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-10">
        <h4> Watch</h4>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link mb-3" aria-current="page" href="https://github.com/camilom325" target="_blank"><em class="fa-brands fa-github"></em> Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>

