<!-- Banner -->

<div class="banner">

  <div class="video-container">
    <img src="../../assets/images/radiologia.jpg" alt="img" class="video-background" style="filter: brightness(0.5);">
  </div>

  <div class="text-container">
    <div class="text-content">
      <div class="text-items px-5 py-2">
        <br>
        <h1 class="animate__animated animate__fadeIn animate__slow py-3">
          <img src="../../assets/images/MediIA-removebg-preview.png" alt="logo"
          class="animate__animated animate__fadeIn animate__slow"
          style="background-color:rgba(255,255,255,0.9); border-radius: 10px; max-width: 90vw;">
        </h1>
        <h2 class="animate__animated animate__fadeInDown animate__slow animate__delay-1s h2-banner	px-5">Radiología</h2>

      </div>
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1704218467">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

</div>

<!-- main -->

<main class="content align-items-center" role="main">

  <!-- Presentation -->

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Radiografías</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://aws.amazon.com/healthlake/">AWS HealthLake</a>
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.microsoft.com/en-us/ai/industry/ai-in-healthcare?activetab=pivot1%3aprimaryr6">Microsoft Azure Healthcare AI</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.nuance.com/healthcare/diagnostics-solutions.html">Nuance</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.tempus.com/radiology/">Tempus</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Resonancias</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.tempus.com/radiology/tempus-pixel-cardio/">Tampus pixel</a>
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.aidoc.com/">Aidoc</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.qure.ai/product/qmsk">Qure.ai</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.zebra.com/ap/en/solutions/industry/healthcare.html">Zebra</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://visageimaging.com/">Visage imaging</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.volparahealth.com/">Volpara HT</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Tomografías</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://imagen.ai/ai-software/">ImagenAI</a>
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.zebra.com/ap/en/solutions/industry/healthcare.html">Zebra</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container my-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" style="text-align: center">
        <h2><strong><a>Mejores herramientas para <span class="blue-txt">Imágenes Intervencionistas</span></a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.caption-care.com/technology">Caption Health</a>
        </h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" ><a href="https://www.tempus.com/radiology/">Tempus</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.quantib.com/solutions/quantib-nd">Quantlib</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project"><a href="https://www.terarecon.com/artificial-intelligence">Terarecon</a></h3>
      </div>
    </div>
  </div>

  <div class="skills-container my-4 mt-5" data-aos="fade-right" data-aos-duration="1000" style="overflow: hidden;">
    <div class="row">
      <div class="col-md-6 px-5 py-3" style="background-color: rgba(10, 17, 40, 0.9); color: #ffffff;">
        <h3 style="text-align: center; color:white"><strong>Educación</strong></h3>
        <hr>
        <p class="px-3 py-3">La educación en inteligencia artificial (IA) para radiología es esencial para capacitar a los profesionales de la salud
        en el uso efectivo de herramientas avanzadas en el campo de la radiología diagnóstica. La educación puede ser impartida a través de una variedad de medios, incluyendo cursos formales,
        talleres prácticos y programas de capacitación en línea, facilitando la colaboración entre instituciones académicas,
        centros de salud y empresas tecnológicas para promover la adopción efectiva de herramientas de IA en la práctica
        radiológica.</p>
      </div>
      <div class="col-md-6 px-5 py-3">
        <h3 style="text-align: center;"><strong>Enlaces a educación</strong></h3>
        <hr>

        <div style="text-align: left; justify-content: center;">
          <br><br>
          <ul>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',3)"><a>
                  Certificación en diagnóstico asistido por IA en radiología
                </a></h3>
            </li>
            <li>
              <h3 class="project" style="font-size: 120%;"><a href="https://catalog.us-east-1.prod.workshops.aws/workshops/4849824d-084a-4a64-a237-f05027f54abc/en-US">
                  Certificación en AWS HealthCare
                </a></h3>
            </li>
            <li>
              <h3 class="project blue-txt" style="font-size: 120%;" (click)="navigateTo('/educacion',4)"><a>
                  más...
                </a></h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>


<footer-component />