<nav class="navbar navbar-expand-xxl bg-body-tertiary transparent-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateTo('/')">
      <img src="../../../assets/images/MediIA.png" alt="logo" height="50px" style="border-radius: 10px; opacity:0.9;">
    </a>
    <div class="demo-div p-2">DEMO</div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end pe-3" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" (click)="navigateTo('/')">Inicio</a>
        <a class="nav-link" (click)="navigateTo('/educacion')">Educación</a>
        <a class="nav-link" (click)="navigateTo('/radiologia')" >Radiología</a>
        <a class="nav-link" (click)="navigateTo('/oncologia')" >Oncología</a>
        <a class="nav-link" (click)="navigateTo('/assist')" ><i class="fa-solid fa-message"></i></a>

      </div>
    </div>
  </div>
  <br>
</nav>
