<!-- Banner -->

<div class="banner">

  <div class="video-container">
    <video class="video-background" autoplay muted loop playsinline >
      <track kind="subtitles" src="subtitles.vtt" srclang="en" label="English">
      <track kind="description" src="description.vtt" srclang="en" label="English">
      <source src="../../assets/images/banner-init.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  
  <div class="text-container">
    <div class="text-content">
      <div class="text-items px-5">
        <h2 class="animate__animated animate__fadeInDown animate__slow animate__delay-1s	" >Software developer</h2>
        <h1 class="animate__animated animate__fadeIn animate__slow py-3" >Camilo Mercado</h1>
        <p class="animate__animated animate__fadeInDown animate__slow animate__delay-1s" >Systems and computing engineering @ Universidad de Los Andes</p>
      </div>
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1704218467">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  
</div>

<!-- main -->

<main class="content align-items-center" role="main">

  <!-- Presentation -->

  <section class="my-3" style="max-width: 90vw;">

    <div class="row g-0">
      <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center" data-aos="fade-right" data-aos-duration="1000">
        <img src="../../assets/images/my-photo.jpeg" class="my-photo" alt="my-photo" draggable="false">
      </div>
      <div class="col-md-8 col-sm-12 d-flex align-items-center py-5">
        <div class="card-body">
          <terminal-component [text]="presentationText" style="filter: drop-shadow(0px 0px 7px rgba(10, 17, 40, 0.7));"></terminal-component>
        </div>
      </div>
    </div>

    <div class="skills-container mb-4" data-aos="fade-left" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <h2><strong>Skills</strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-center px-5 py-3" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <h3>BackEnd</h3>
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill dark">
              <h4><em class="fa-brands fa-java"></em></h4>
              <p>Java</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill dark">
              <h4><em class="fa-solid fa-leaf"></em></h4>
              <p>SpringBoot</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill dark">
              <h4><em class="fa-solid fa-database"></em></h4>
              <p>Oracle SQL</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill dark">
              <h4><em class="fa-solid fa-server"></em></h4>
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center px-5 py-3" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
        <h3 style="color: #1976d2;">FrontEnd</h3>
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill darkblue">
              <h4><em class="fa-brands fa-js"></em></h4>
              <p>JavaScript</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill darkblue">
              <h4><em class="fa-brands fa-html5"></em></h4>
              <p>HTML</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill darkblue">
              <h4><em class="fa-brands fa-css3-alt"></em></h4>
              <p>CSS</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill darkblue">
              <h4><em class="fa-brands fa-angular"></em></h4>
              <p>Angular</p>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center p-1">
            <div class="skill darkblue">
              <h4><em class="fa-brands fa-react"></em></h4>
              <p>React</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <div class="skills-container" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <h2><strong>Projects</strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <h2><strong>Projects</strong></h2>
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
        <h2><strong>Projects</strong></h2>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-md-8 d-flex justify-content-center align-items-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <h2><strong>Projects</strong></h2>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
        <h2><strong>Projects</strong></h2>
      </div>
    </div>
  </div>

</main>

<footer-component />