<!-- Banner -->

<div class="banner">

  <div class="video-container">
    <img src="../../assets/images/imagen.avif" alt="img" class="video-background"
    style="filter: brightness(0.5);">
  </div>
  
  <div class="text-container">
    <div class="text-content">
      <div class="text-items px-5 py-2">
        <br>
        <h2 class="animate__animated animate__fadeInDown animate__slow animate__delay-1s	px-5" >Software para el procesamiento de imágenes médicas por especialidad</h2>
        <h1 class="animate__animated animate__fadeIn animate__slow py-3" >
          <img src="../../assets/images/MediIA-removebg-preview.png" alt="logo" class="animate__animated animate__fadeIn animate__slow"
          style="background-color:rgba(255,255,255,0.9); border-radius: 10px; max-width: 90vw;">
        </h1>
        <p class="animate__animated animate__fadeInDown animate__slow animate__delay-1s px-5" >Diseño de productos e innovación en TI - Universidad de Los Andes</p>
      </div>
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1704218467">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  
</div>

<!-- main -->
<p style="font-size: 110%;" class="mx-5 px-5 mt-3">¡Bienvenido a MedicIA! Diagnóstico médico impulsado por IA para una salud más inteligente. Obtén análisis precisos y rápidos para una atención excepcional. Únete hoy y experimenta la medicina del futuro. Buscamos brindar acceso a diagnósticos médicos precisos y rápidos utilizando la inteligencia artificial, mejorando así la atención médica y la calidad de vida de las personas en todo el mundo.</p>

<main class="content align-items-center" role="main">
  
  <!-- Presentation -->
  
  <div class="skills-container" data-aos="fade-right" data-aos-duration="1000">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <h2><strong><a>Explore su especialidad</a></strong></h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" (click)="navigateTo('/radiologia')" ><a>Radiología</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" (click)="navigateTo('/oncologia')" ><a>Oncología</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project blue-txt" (click)="navigateTo('/dermatologia')" ><a>Dermatología</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project blue-txt" (click)="navigateTo('/neurologia')" ><a>Neurología</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" (click)="navigateTo('/cardiologia')" ><a>Cardiología</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project" (click)="navigateTo('/oftalmologia')" ><a>Oftalmología</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project blue-txt" (click)="navigateTo('/ortopedia')" ><a>Ortopedia</a></h3>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <h3 class="project blue-txt" (click)="navigateTo('/gastroenterologia')" ><a>Gastroenterología</a></h3>
      </div>
    </div>
  </div>
  
  <div class="skills-container mt-5" data-aos="fade-right" data-aos-duration="1000" style="overflow: hidden;">
    <div class="row">
      <div class="col-md-6 px-5 py-3" style="background-color: rgba(10, 17, 40, 0.9); color: #ffffff;">
        <h3 style="text-align: center; color:white"><strong>Educación</strong></h3>
        <hr>
        <p class="px-3 py-3">En esta página, ofrecemos cursos especializados para profesionales de la salud interesados en adquirir conocimientos sobre las tecnologías de diagnóstico asistido por imágenes con inteligencia artificial. Nuestros programas educativos proporcionan una visión práctica y actualizada, capacitando al personal médico para integrar eficientemente estas innovadoras herramientas en su práctica clínica. Explore nuestras opciones de aprendizaje y mejore sus habilidades en el uso de la inteligencia artificial para el diagnóstico médico.</p>
      </div>
      <div class="col-md-6 px-5 py-3">
        <h3 style="text-align: center;"><strong>Enlaces a educación</strong></h3>
        <hr>
        
        <div style="text-align: left; justify-content: center;">
          <br><br>
          <ul>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',1)" ><a>
                Introducción al diagnóstico clínico con IA
              </a></h3>
            </li>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',2)"><a>
                Uso de herramientas computacionales para el diagnóstico
              </a></h3>
            </li>
            <li>
              <h3 class="project" style="font-size: 120%;" (click)="navigateTo('/educacion',3)"><a>
                Certificación en diagnóstico asistido por IA en radiología
              </a></h3>
            </li>
            <li>
              <h3 class="project blue-txt" style="font-size: 120%;" (click)="navigateTo('/educacion',4)"><a>
                más...
              </a></h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>


<footer-component />