<div class="fullPages" (scroll)="onScroll()">
  <section id="section-1" class="section section-1">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 1, 'hide' : currentSection !== 1}">
      <h1>The 1 section</h1>
    </div>
  </section>

  <section id="section-2" class="section section-2">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 2 , 'hide' : currentSection !== 2}">
      <h1>The 2 section</h1>
    </div>
  </section>

  <section id="section-3" class="section section-3">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 3, 'hide' : currentSection !== 3}">
      <h1>The 3 section</h1>
    </div>
  </section>

  <section id="section-4" class="section section-4">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 4, 'hide' : currentSection !== 4}">
      <h1>The 4 section</h1>
    </div>
  </section>

  <section class="scroll-indicators">
    <div class="scroll-indicator" [class.active]="currentSection === 1" (click)="scrollToSection(1)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 2" (click)="scrollToSection(2)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 3" (click)="scrollToSection(3)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 4" (click)="scrollToSection(4)"></div>
  </section>
</div>


