<div class="fullPages" (scroll)="onScroll()">
  <section id="section-1" class="section section-1">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 1, 'hide' : currentSection !== 1}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Introducción al diagnóstico clínico con IA</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <div class="col-md-5 px-5 py-1 img-container">
            <img src="../../assets/images/curso1.webp" alt="postman ScreenShot" class="img-fluid" draggable="false">
          </div>
          <div class="col-md-7 px-5 py-1">
            <h3>Descripción</h3>
            <p>Explora cómo la inteligencia artificial está cambiando el diagnóstico médico. Aprende los fundamentos de la IA en medicina, cómo analiza datos para detectar patrones y cómo implementarla en la práctica clínica.</p>
            <div class="col d-flex align-items-center justify-content-center p-1 flex-wrap">
              <a href="https://www.techtitute.com/co/medicina/diplomado/diagnostico-clinico-potenciado-inteligencia-artificial">
                <button>Ir al recurso&nbsp; <em class="fa-solid fa-lightbulb"></em></button>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="section-2" class="section section-2">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 2 , 'hide' : currentSection !== 2}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Uso de herramientas computacionales para el diagnóstico</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <div class="col-md-5 px-5 py-1 img-container">
            <img src="../../assets/images/curso2.jpg" alt="postman ScreenShot" class="img-fluid" draggable="false">
          </div>
          <div class="col-md-7 px-5 py-1">
            <h3>Descripción</h3>
            <p>Descubre cómo las herramientas computacionales están revolucionando el diagnóstico médico. Aprende a utilizar algoritmos y herramientas de análisis de datos para mejorar la precisión y eficiencia del diagnóstico clínico.</p>
            <div class="col d-flex align-items-center justify-content-center p-1 flex-wrap">
              <a href="https://colombia.unir.net/salud/curso-inteligencia-artificial-medicina/">
                <button>Ir al recurso&nbsp; <em class="fa-solid fa-lightbulb"></em></button>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="section-3" class="section section-3">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 3, 'hide' : currentSection !== 3}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Certificación en diagnóstico asistido por IA en radiología</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <div class="col-md-5 px-5 py-1 img-container">
            <img src="../../assets/images/curso3.webp" alt="postman ScreenShot" class="img-fluid" draggable="false">
          </div>
          <div class="col-md-7 px-5 py-1">
            <h3>Descripción</h3>
            <p>Obtén una certificación en el uso de inteligencia artificial para asistir en el diagnóstico radiológico. Aprende a aplicar algoritmos y herramientas de análisis de datos para mejorar la interpretación de imágenes médicas.</p>
            <div class="col d-flex align-items-center justify-content-center p-1 flex-wrap">
              <a href="https://www.actedi.cat/es/formacion/2022-curso-inteligencia-artificial-en-imagen-medica-id-58.html">
                <button>Ir al recurso&nbsp; <em class="fa-solid fa-lightbulb"></em></button>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="section-4" class="section section-4">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 4, 'hide' : currentSection !== 4}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Más...</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <div class="col-md-5 px-5 py-1 img-container">
            <img src="../../assets/images/MediIA.png" alt="postman ScreenShot" class="img-fluid" draggable="false">
          </div>
          <div class="col-md-7 px-5 py-1">
            <p>¡Estamos emocionados de anunciar que estamos buscando implementar una serie de nuevos cursos para ampliar aún más tus habilidades y conocimientos! Nuestro objetivo es ofrecer una gama diversa de programas educativos que aborden las últimas tendencias y tecnologías en diversos campos.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="scroll-indicators">
    <div class="scroll-indicator" [class.active]="currentSection === 1" (click)="scrollToSection(1)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 2" (click)="scrollToSection(2)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 3" (click)="scrollToSection(3)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 4" (click)="scrollToSection(4)"></div>
  </section>
</div>


