<div class="fullPages" (scroll)="onScroll()">
  <section id="section-1" class="section section-1">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 1, 'hide' : currentSection !== 1}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Micro Projects</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <!-- <div class="col-md-6 px-5 py-3"></div>
          <div class="col-md-6 px-5 py-3"></div> -->
          <app-onProcess [embedded]="true"></app-onProcess>
        </div>
      </div>

    </div>
  </section>

  <section id="section-2" class="section section-2">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 2 , 'hide' : currentSection !== 2}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>SQL - CRUD app</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <!-- <div class="col-md-6 px-5 py-3"></div>
                <div class="col-md-6 px-5 py-3"></div> -->
          <app-onProcess [embedded]="true"></app-onProcess>
        </div>
      </div>

    </div>
  </section>

  <section id="section-3" class="section section-3">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 3, 'hide' : currentSection !== 3}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>JWT authentication</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <div class="col-md-5 px-5 py-3 img-container">
            <img src="../../assets/images/PostmanSS.png" alt="postman ScreenShot" class="img-fluid" draggable="false">
            <div class=" p-3">
            </div>
          </div>
          <div class="col-md-7 px-5 py-3">
            <h3>Description</h3>
            <p>Developed a secure Spring Boot application implementing JWT authentication and leveraging MongoDB for user data storage.
            This project showcases essential features such as user registration, login, and token-based access control to protected
            resources. Ideal for understanding modern Java application security practices!</p>
            <h3>Tech used</h3>
            <div class="col d-flex align-items-center justify-content-center p-1 flex-wrap">
              <div class="skill darkblue">
                <h4><em class="fa-solid fa-leaf"></em></h4>
                <p>SpringBoot</p>
              </div>
              <div class="skill darkblue">
                <h4><em class="fa-brands fa-java"></em></h4>
                <p>Java</p>
              </div>
              <div class="skill darkblue">
                <h4><em class="fa-solid fa-server"></em></h4>
                <p>MongoDB</p>
              </div>

            </div>
            <div class="col d-flex align-items-center justify-content-center p-1 flex-wrap">
              <button routerLink="jwt-auth">Go to project page <em class="fa-solid fa-hammer"></em></button> 
              &nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp;
              <button (click)="navigateTo('https://github.com/camilom325/JWT-authentication.git')" >Go to Github repo <em class="fa-brands fa-github"></em></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="section-4" class="section section-4">
    <div [ngClass]="{'animate__animated animate__fadeInUp animate__delay-1s': currentSection === 4, 'hide' : currentSection !== 4}">
      
      <div class="projects-container">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <h2><strong><a>Spotify API usage</a></strong></h2>
          </div>
        </div>
        <hr>
        <div class="row project-content px-2">
          <!-- <div class="col-md-6 px-5 py-3"></div>
                <div class="col-md-6 px-5 py-3"></div> -->
          <app-onProcess [embedded]="true"></app-onProcess>
        </div>
      </div>

    </div>
  </section>

  <section class="scroll-indicators">
    <div class="scroll-indicator" [class.active]="currentSection === 1" (click)="scrollToSection(1)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 2" (click)="scrollToSection(2)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 3" (click)="scrollToSection(3)"></div>
    <div class="scroll-indicator" [class.active]="currentSection === 4" (click)="scrollToSection(4)"></div>
  </section>
</div>


