.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.fullPages {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  background-color: rgba(10, 17, 40, 0.1);
}

.fullPages::-webkit-scrollbar {
  width: 0;
}

.fullPages {
  scrollbar-width: 0;
}

.scroll-indicators {
  position: fixed;
  top: 50%;
  right: 2vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.scroll-indicator {
  user-select: none;
  width: 5px;
  height: 5px;
  background-color: black;
  opacity: 0.5;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.scroll-indicator.active {
  transform: scale(1.7);
  opacity: 1;
}

.scroll-indicator:hover {
  transform: scale(1.7);
}

.hide {
  display: none;
}

.animate__delay-1s {
  --animate-delay: 0.2s;
}

.projects-container {
  width: 80vw;
  height: 55vh;
  background-color: #fefcfb;
  box-shadow: 0px 0px 10px rgba(10, 17, 40, 0.5);
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.projects-container h2 {
  padding-bottom: 0;
}

.projects-container::-webkit-scrollbar {
  width: 3px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: rgba(10, 17, 40, 0.8);
  border-radius: 6px;
}

.projects-container::-webkit-scrollbar-track {
  background-color: #fefcfb;
}

.projects-container {
  scrollbar-width: thin;
  scrollbar-color: #4caf50 #fefcfb;
}

.project-content {
  height: calc(100% - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
